*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 760px;
}

section:nth-child(2){
    background: #FFFFFF;
}


.texto{
    position: relative;
    top: 20%;
    left: 50%;
    text-align: center;

}

html{
    scroll-behavior: smooth;
}


h1{
    color:aliceblue;
    font-family: monospace;
    font-size: 2.5em;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-65%);
}

/*h1:nth-child(2){
    color:#0C192C;
}*/


h2{
    color:#FF2D75;
    font-family: monospace;
    font-size: 2.5em;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
}



header{
    background-color: #0C192C;
    font-family: monospace;
    text-align: center;
    margin: 0px;
    font-size: 2.5em;
}

body{
    min-height: 100vh;
    background: #0C192C;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    position:relative;
    display:flex;

}


.bubbles span{
    position:relative;
    width: 20px;
    height: 20px;
    background: #00E0C6;
    margin: 0 10px;
    border-radius: 30px;
    box-shadow: 0 0 0 5px #00E0C644,
    0 0 25px #00E0C6,
    0 0 5px #00E0C6;
    animation: animate 15s linear infinite;
    animation-duration:calc(320s / var(--i));
}


/*.bubbles span:nth-child(even){
    background: #FF2D75;
    box-shadow: 0 0 0 5px #FF2D7544,
    0 0 25px #FF2D75,
    0 0 5px #FF2D75;
}*/

@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(0.7); 
        background-color: #FFFFFF; 
        box-shadow: 0 0 0 5px #FFFFFF44;   
    }
}



a:link, a:visited{
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    top: 75%;
    left: 50%;
}


a:hover{
    color: #FF2D75;
    text-decoration: none;
}

a:active{
    color: brown;
}